{% extends 'base.html.twig'%}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}
	<h1>Tu numero de la suerte es {{ number }}</h1>
 {% endblock %}


{% block javascripts %} {{ parent() }} {% endblock %}