{% extends 'base.html.twig' %}

{% block title %}Edit Anuncio{% endblock %}

{% block body %}
    <h1>Edit Anuncio</h1>

    {{ include('anuncio/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('anuncio_index') }}">back to list</a>

    {{ include('anuncio/_delete_form.html.twig') }}
{% endblock %}
