{% extends 'base.html.twig' %}

{% block title %}New Anuncio{% endblock %}

{% block body %}
    <h1>Create new Anuncio</h1>

    {{ include('anuncio/_form.html.twig') }}

    <a href="{{ path('anuncio_index') }}">back to list</a>
{% endblock %}
