{% block body %}
    <h3 style="padding: 15px">Comentarios</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Autor</th>
            <th>Mensaje</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in nom %}
            <tr>
                <td>{{ comment.name }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d H:i') : '' }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comment_new') }}" class="btn btn-primary" style="margin: 30px auto">Agregar comentario</a>
{% endblock %}