{% extends 'base.html.twig' %}

{% block title %}New AdPets{% endblock %}

{% block body %}
    <h1 align="center">Create new AdPets</h1>

    {{ include('ad_pets/_form.html.twig') }}

    <center><a href="{{ path('ad_pets_index') }}"><button type="button" class="btn btn-secondary" align="center">back to list</button></a></center> 
{% endblock %}
