{% extends 'base.html.twig' %}

{% block title %}New AdPets{% endblock %}

{% block body %}
    <h1>Create new AdPets</h1>

    {{ include('ad_pets/_form.html.twig') }}

    <a href="{{ path('ad_pets_index') }}">back to list</a>
{% endblock %}
