{% extends 'base.html.twig' %}

{% block title %}New AdPets{% endblock %}

{% block body %}
    <div class="mx-auto" style="width: 300px;">
    <h1 align="center">Crea tu anuncio!</h1>

    {{ include('ad_pets/_form.html.twig') }}

    <a href="{{ path('ad_pets_index') }}">
        <button type="button" class="btn btn-secondary">Volver</button></a>
</div>
{% endblock %}
